body {
    background-color: #ffffff;
}
  
p{
    color: #ffffff;
    text-align: center;
}

* {
  box-sizing: border-box;
}

h1{
  font-family: cursive;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #c5b358;
  width: 100%;
  padding: 20px;
}